<div class="py-3">
  <h1>My Tasks</h1>
</div>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <% if task.completed %>
        <i class="fa-regular fa-square-check"></i>
      <% else %>
        <i class="fa-regular fa-square"></i>
      <% end %>
      <%= link_to task.title, task_path(task) %> •
      <%= link_to task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <i class="fa-regular fa-trash-can"></i>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add a new task', tasks_new_path, class:"btn btn-primary" %>
